<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePath</key>
	<string>/</string>
	<key>host</key>
	<string>yat.teamwork.com</string>
	<key>info</key>
	<dict>
		<key>title</key>
		<string>Teamwork</string>
		<key>version</key>
		<string>v0.0.0</string>
	</dict>
	<key>paths</key>
	<dict>
		<key>/projects.json</key>
		<dict>
			<key>get</key>
			<dict>
				<key>description</key>
				<string></string>
				<key>operationId</key>
				<string>5f80d5d0-36d0-4c72-9703-cc6515ec2dd7</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>default</key>
						<string>application/json</string>
						<key>in</key>
						<string>header</string>
						<key>name</key>
						<string>"Content-Type"</string>
						<key>required</key>
						<false/>
						<key>type</key>
						<string>string</string>
					</dict>
					<dict>
						<key>default</key>
						<string>BASIC twp_TEbBXGCnvl2HfvXWfkLUlzx92e3T:xxx</string>
						<key>in</key>
						<string>header</string>
						<key>name</key>
						<string>"Authorization"</string>
						<key>required</key>
						<false/>
						<key>type</key>
						<string>string</string>
					</dict>
				</array>
				<key>responses</key>
				<dict>
					<key>default</key>
					<dict>
						<key>description</key>
						<string>no response description was provided for this operation</string>
					</dict>
				</dict>
				<key>summary</key>
				<string>Projects List</string>
			</dict>
		</dict>
		<key>/projects/339988/tasklists.json</key>
		<dict>
			<key>get</key>
			<dict>
				<key>description</key>
				<string></string>
				<key>operationId</key>
				<string>13bb2d59-bcdf-4575-8b12-da4515a283f4</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>default</key>
						<string>application/json</string>
						<key>in</key>
						<string>header</string>
						<key>name</key>
						<string>"Content-Type"</string>
						<key>required</key>
						<false/>
						<key>type</key>
						<string>string</string>
					</dict>
				</array>
				<key>responses</key>
				<dict>
					<key>default</key>
					<dict>
						<key>description</key>
						<string>no response description was provided for this operation</string>
					</dict>
				</dict>
				<key>summary</key>
				<string>Tasks List for Project</string>
			</dict>
		</dict>
		<key>/tasklists/1115157/tasks.json</key>
		<dict>
			<key>post</key>
			<dict>
				<key>consumes</key>
				<array>
					<string>text/plain</string>
				</array>
				<key>description</key>
				<string></string>
				<key>operationId</key>
				<string>cce7a8b7-242e-4f19-a59e-615429255188</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>in</key>
						<string>body</string>
						<key>name</key>
						<string>body</string>
						<key>required</key>
						<false/>
						<key>schema</key>
						<dict>
							<key>default</key>
							<string>{
  "todo-item": {
    "content": "Task Item",
    "notify": false,
    "description": "Task Item Description",
    "due-date": "20180405",
    "start-date": "20180402",
    "private": "0",
    "grant-access-to": "",
    "priority": "high",
    "progress": "20",
    "estimated-minutes": "0",
    "responsible-party-id": "999",
    "attachments": [],
    "tasklistId": "",
    "pendingFileAttachments": "",
    "tags":"api,documentation",
    "columnId":"123"
  }
}</string>
							<key>type</key>
							<string>string</string>
						</dict>
					</dict>
				</array>
				<key>responses</key>
				<dict>
					<key>default</key>
					<dict>
						<key>description</key>
						<string>no response description was provided for this operation</string>
					</dict>
				</dict>
				<key>summary</key>
				<string>Add Task To Taskslist</string>
			</dict>
		</dict>
		<key>/tasks/{id}.json</key>
		<dict>
			<key>delete</key>
			<dict>
				<key>description</key>
				<string></string>
				<key>operationId</key>
				<string>6d06b1b1-785f-448d-b118-74a053245d54</string>
				<key>parameters</key>
				<array/>
				<key>responses</key>
				<dict>
					<key>default</key>
					<dict>
						<key>description</key>
						<string>no response description was provided for this operation</string>
					</dict>
				</dict>
				<key>summary</key>
				<string>Delete Task By ID</string>
			</dict>
			<key>put</key>
			<dict>
				<key>consumes</key>
				<array>
					<string>text/plain</string>
				</array>
				<key>description</key>
				<string></string>
				<key>operationId</key>
				<string>1e012a08-5246-4867-8c32-f652b3f453ad</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>in</key>
						<string>body</string>
						<key>name</key>
						<string>body</string>
						<key>required</key>
						<false/>
						<key>schema</key>
						<dict>
							<key>default</key>
							<string>{
  "todo-item": {
    "content": "Task Item",
    "notify": false,
    "description": "Task Item Description",
    "due-date": "20140405",
    "start-date": "20140402",
    "private": "0",
    "grant-access-to": "",
    "priority": "high",
    "progress": "20",
    "estimated-minutes": "0",
    "responsible-party-id": "999",
    "attachments": [],
    "tasklistId": "",
    "pendingFileAttachments": "",
    "tags": "api,documentation",
    "columnId": "123"
  }
}</string>
							<key>type</key>
							<string>string</string>
						</dict>
					</dict>
				</array>
				<key>responses</key>
				<dict>
					<key>default</key>
					<dict>
						<key>description</key>
						<string>no response description was provided for this operation</string>
					</dict>
				</dict>
				<key>summary</key>
				<string>Edit Task By ID</string>
			</dict>
		</dict>
	</dict>
	<key>schemes</key>
	<array>
		<string>https</string>
	</array>
	<key>swagger</key>
	<string>2.0</string>
	<key>tags</key>
	<array/>
</dict>
</plist>
