<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>yat.teamwork.com</string>
	<key>basepath</key>
	<string>/</string>
	<key>paths</key>
	<dict>
		<key>/projects.json</key>
		<dict>
			<key>GET</key>
			<dict>
				<key>command</key>
				<string>GET</string>
				<key>summary</key>
				<string>Projects List</string>
				<key>parameters</key>
				<dict>
					<key>path</key>
					<array/>
					<key>query</key>
					<array/>
					<key>body</key>
					<array/>
				</dict>
				<key>responses</key>
				<dict>
					<key>200</key>
					<dict>
						<key>type</key>
						<string>success</string>
						<key>schema</key>
						<dict>
							<key>status</key>
							<string>String</string>
							<key>projects</key>
							<string>Dictionary</string>
						</dict>
					</dict>
				</dict>
				<key>needsAuth</key>
				<true/>
			</dict>
		</dict>
		<key>/projects/{projectID}/tasklists.json</key>
		<dict>
			<key>GET</key>
			<dict>
				<key>command</key>
				<string>GET</string>
				<key>summary</key>
				<string>Tasks List of Project By ID</string>
				<key>parameters</key>
				<dict>
					<key>path</key>
					<array>
						<dict>
							<key>description</key>
							<string>Id of location. Use attribute &apos;id&apos; from the result of &apos;location&apos;</string>
							<key>in</key>
							<string>path</string>
							<key>name</key>
							<string>projectID</string>
							<key>required</key>
							<true/>
							<key>type</key>
							<string>Int</string>
						</dict>
					</array>
					<key>query</key>
					<array/>
					<key>body</key>
					<array/>
				</dict>
				<key>responses</key>
				<dict>
					<key>200</key>
					<dict>
						<key>code</key>
						<integer>200</integer>
						<key>type</key>
						<string>success</string>
						<key>schema</key>
						<dict/>
					</dict>
					<key>403</key>
					<dict>
						<key>code</key>
						<integer>403</integer>
						<key>type</key>
						<string>failure</string>
						<key>schema</key>
						<dict/>
					</dict>
				</dict>
				<key>needsAuth</key>
				<true/>
			</dict>
		</dict>
		<key>/tasklists/{tasklistID}/tasks.json</key>
		<dict>
			<key>POST</key>
			<dict>
				<key>command</key>
				<string>POST</string>
				<key>parameters</key>
				<dict>
					<key>path</key>
					<array>
						<dict>
							<key>description</key>
							<string>ID of containing tasklist</string>
							<key>in</key>
							<string>path</string>
							<key>name</key>
							<string>tasklistID</string>
							<key>required</key>
							<true/>
							<key>type</key>
							<string>string</string>
						</dict>
					</array>
					<key>query</key>
					<dict/>
					<key>body</key>
					<array>
						<dict>
							<key>description</key>
							<string>Name of new task</string>
							<key>in</key>
							<string>body</string>
							<key>name</key>
							<string>name</string>
							<key>required</key>
							<true/>
							<key>type</key>
							<string>string</string>
						</dict>
						<dict>
							<key>description</key>
							<string>Start date of new task</string>
							<key>in</key>
							<string>body</string>
							<key>name</key>
							<string>startDate</string>
							<key>required</key>
							<false/>
							<key>type</key>
							<string>date</string>
						</dict>
						<dict>
							<key>description</key>
							<string>End date of new task</string>
							<key>in</key>
							<string>body</string>
							<key>name</key>
							<string>endDate</string>
							<key>required</key>
							<false/>
							<key>type</key>
							<string>date</string>
						</dict>
					</array>
				</dict>
				<key>responses</key>
				<dict>
					<key>200</key>
					<dict>
						<key>code</key>
						<integer>200</integer>
						<key>type</key>
						<string>success</string>
						<key>schema</key>
						<dict/>
					</dict>
				</dict>
				<key>needsAuth</key>
				<true/>
			</dict>
		</dict>
		<key>/tasks/{id}.json</key>
		<dict>
			<key>GET</key>
			<dict>
				<key>command</key>
				<string>GET</string>
				<key>summary</key>
				<string>Tasks List of Project By ID</string>
				<key>parameters</key>
				<dict>
					<key>path</key>
					<array/>
					<key>query</key>
					<array/>
					<key>body</key>
					<array/>
				</dict>
				<key>responses</key>
				<dict>
					<key>&quot;200&quot;</key>
					<dict>
						<key>code</key>
						<integer>200</integer>
						<key>type</key>
						<string>success</string>
						<key>schema</key>
						<dict/>
					</dict>
				</dict>
				<key>needsAuth</key>
				<true/>
			</dict>
			<key>DELETE</key>
			<dict>
				<key>command</key>
				<string>GET</string>
				<key>summary</key>
				<string>Tasks List of Project By ID</string>
				<key>parameters</key>
				<dict>
					<key>path</key>
					<array/>
					<key>query</key>
					<array/>
					<key>body</key>
					<array/>
				</dict>
				<key>responses</key>
				<dict>
					<key>&quot;200&quot;</key>
					<dict>
						<key>code</key>
						<integer>200</integer>
						<key>type</key>
						<string>success</string>
						<key>schema</key>
						<dict/>
					</dict>
				</dict>
				<key>needsAuth</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>schemes</key>
	<array>
		<string>https</string>
	</array>
</dict>
</plist>
